@model PageData<Product>
@foreach (var item in Model.Data)
{
    @Html.Partial("ProductSummery",item);
}
<div page-model="Model.pageInfo" page-action="index" page-class-enabled="true" page-class="btn" page-class-normal="btn-info" page-class-selected="btn-succes">

</div>