@model ProductCategoryViewModel
@foreach (var item in Model.ProductPageData.Data)
{
    <div class="card card-group ">
        @Html.Partial("ProductSummery",item)
    </div>
}
<div class="btn-group m-1" page-model="Model.ProductPageData.pageInfo" page-action="index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-success">
</div>