@model Basket
<div class="m-1 p-1">
    <table class="table table-bordered table-striped table-hover table-responsive">
        <tr>
            <td>Items in basket : </td>
            <td>
                @if (Model.BasketItems.Any())
                {
                    <span>@Model.BasketItems.Sum(b => b.Quantity)</span>
                }
                else
                {
                    <span>There isn't any Item in your basket</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                Total Price :
            </td>
            <td>
                @Model.TotalPrice()
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn btn-success" href="Basket/Index">CheckOut</a>
            </td>
        </tr>
    </table>
</div>
